.container.top-buffer
  %nav.navbar.navbar-default
    %h2 #{t('app.title')}

  = render 'shared/flash_messages'

  .card
    .card-header
      %h5.font-weight-bold.text-xs-center
        = t('searches.form_title')

    = form_for(@search, html: { class: 'search' }) do |f|
      .text-xs-center
        %div.row.top-sm-buffer.form-group
          %div.offset-xs-2.col-xs-6
            = f.text_field :username, class: 'wide form-control', placeholder: t('searches.placeholder')
          %div.col-xs-2
            = f.submit t('searches.button_text'), class: 'btn btn-danger'

    - if @decorated_result
      .card
        .card-header
          %h4.text-xs-center
            %span.font-weight-bold
              #{t('searches.result_text')}:
            #{@decorated_result.favorite_language}
      .card
        .card-header
          %h5.text-xs-center
            #{t('searches.list_text')}
        .card-block
          %table.table.table-bordered
            %td #{t('table.no')}
            %td #{t('table.language')}
            %td #{t('table.times')}
            - @decorated_result.sorted_languages_group.each_with_index do |group, index|
              %tr
                %td
                  = (index + 1)
                %td
                  = group[0]
                %td
                  = group[1]
